USE [master]
GO
/****** Object:  Database [pizza_demo_DB_Merged]    Script Date: 11/6/2025 5:39:53 AM ******/
CREATE DATABASE [pizza_demo_DB_Merged]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pizza_demo_DB_Merged', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\pizza_demo_DB_Merged.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pizza_demo_DB_Merged_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\pizza_demo_DB_Merged_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pizza_demo_DB_Merged].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pizza_demo_DB_Merged]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CategoryID] [int] NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[IsAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[ProductSizeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[SizeCode] [char](1) NULL,
	[SizeName] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductSizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Quantity] [decimal](10, 2) NULL,
	[Unit] [nvarchar](50) NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductIngredient]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductIngredient](
	[ProductSizeID] [int] NOT NULL,
	[InventoryID] [int] NOT NULL,
	[QuantityNeeded] [decimal](10, 2) NOT NULL,
	[Unit] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductSizeID] ASC,
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ProductSizeAvailable]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===============================
-- VIEW
-- (Từ kịch bản của bạn)
-- ===============================

CREATE VIEW [dbo].[v_ProductSizeAvailable]
AS
WITH SizeAvailability AS (
    SELECT
        pi.ProductSizeID,
        MIN(i.Quantity / NULLIF(pi.QuantityNeeded, 0)) AS CalculatedQuantity
    FROM 
        ProductIngredient pi
    JOIN 
        Inventory i ON pi.InventoryID = i.InventoryID
    WHERE
        pi.QuantityNeeded > 0
    GROUP BY
        pi.ProductSizeID
)
SELECT
    p.ProductID,
    ps.ProductSizeID,
    p.ProductName,
    ps.SizeCode,
    ps.SizeName,
    ps.Price,
    c.CategoryName,
    p.ImageURL,
    p.IsAvailable,
    CAST(COALESCE(sa.CalculatedQuantity, 0) AS DECIMAL(10,2)) AS AvailableQuantity
FROM
    ProductSize ps
JOIN
    Product p ON ps.ProductID = p.ProductID
JOIN
    Category c ON p.CategoryID = c.CategoryID
LEFT JOIN
    SizeAvailability sa ON ps.ProductSizeID = sa.ProductSizeID
WHERE
    p.IsAvailable = 1
    AND ps.IsDeleted = 0
    AND c.IsDeleted = 0;
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[LoyaltyPoint] [int] NULL,
	[LastEarnedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletionQueue]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletionQueue](
	[QueueID] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [nvarchar](20) NOT NULL,
	[EntityID] [int] NOT NULL,
	[ScheduledDeletion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_DeletionQueue_Entity] UNIQUE NONCLUSTERED 
(
	[EntityType] ASC,
	[EntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DiscountType] [nvarchar](50) NULL,
	[Value] [decimal](10, 2) NULL,
	[MaxDiscount] [decimal](10, 2) NULL,
	[MinOrderTotal] [decimal](10, 2) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Specialization] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[TableID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Status] [int] NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductSizeID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[SpecialInstructions] [nvarchar](255) NULL,
	[EmployeeID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetailTopping]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetailTopping](
	[OrderDetailToppingID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDetailID] [int] NOT NULL,
	[ToppingID] [int] NOT NULL,
	[ToppingPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailToppingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDiscount]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDiscount](
	[OrderID] [int] NOT NULL,
	[DiscountID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[AppliedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordTokens]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordTokens](
	[Token] [nvarchar](20) NOT NULL,
	[UserID] [int] NOT NULL,
	[NewPasswordHash] [nvarchar](255) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[Used] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTopping]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTopping](
	[ProductToppingID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ToppingID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductToppingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductTopping] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[ToppingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[TableNumber] [nvarchar](10) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TableNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topping]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topping](
	[ToppingID] [int] IDENTITY(1,1) NOT NULL,
	[ToppingName] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsAvailable] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ToppingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](60) NOT NULL,
	[Role] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [LoyaltyPoint]
GO
ALTER TABLE [dbo].[DeletionQueue] ADD  DEFAULT (dateadd(day,(1),CONVERT([date],getdate()))) FOR [ScheduledDeletion]
GO
ALTER TABLE [dbo].[Discount] ADD  DEFAULT ((0)) FOR [MinOrderTotal]
GO
ALTER TABLE [dbo].[Discount] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ('Waiting') FOR [Status]
GO
ALTER TABLE [dbo].[OrderDiscount] ADD  DEFAULT (getdate()) FOR [AppliedDate]
GO
ALTER TABLE [dbo].[PasswordTokens] ADD  DEFAULT (dateadd(minute,(5),sysdatetime())) FOR [ExpiresAt]
GO
ALTER TABLE [dbo].[PasswordTokens] ADD  DEFAULT ((0)) FOR [Used]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[ProductSize] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Table] ADD  DEFAULT ('available') FOR [Status]
GO
ALTER TABLE [dbo].[Table] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Topping] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Topping] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([TableID])
REFERENCES [dbo].[Table] ([TableID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductSizeID])
REFERENCES [dbo].[ProductSize] ([ProductSizeID])
GO
ALTER TABLE [dbo].[OrderDetailTopping]  WITH CHECK ADD FOREIGN KEY([OrderDetailID])
REFERENCES [dbo].[OrderDetail] ([OrderDetailID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetailTopping]  WITH CHECK ADD FOREIGN KEY([ToppingID])
REFERENCES [dbo].[Topping] ([ToppingID])
GO
ALTER TABLE [dbo].[OrderDiscount]  WITH CHECK ADD FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discount] ([DiscountID])
GO
ALTER TABLE [dbo].[OrderDiscount]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[PasswordTokens]  WITH CHECK ADD  CONSTRAINT [FK_PasswordTokens_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordTokens] CHECK CONSTRAINT [FK_PasswordTokens_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[ProductIngredient]  WITH CHECK ADD FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[ProductIngredient]  WITH CHECK ADD FOREIGN KEY([ProductSizeID])
REFERENCES [dbo].[ProductSize] ([ProductSizeID])
GO
ALTER TABLE [dbo].[ProductSize]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductTopping]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTopping]  WITH CHECK ADD FOREIGN KEY([ToppingID])
REFERENCES [dbo].[Topping] ([ToppingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD CHECK  (([DiscountType]='Loyalty' OR [DiscountType]='Fixed' OR [DiscountType]='Percentage'))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Role]='Chef' OR [Role]='Waiter' OR [Role]='Cashier' OR [Role]='Manager'))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Specialization]=NULL OR [Specialization]='SideDishes' OR [Specialization]='Drinks' OR [Specialization]='Pizza'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([PaymentStatus]='Paid' OR [PaymentStatus]='Unpaid'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([Status]=(4) OR [Status]=(3) OR [Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[ProductSize]  WITH CHECK ADD CHECK  (([SizeCode]='F' OR [SizeCode]='L' OR [SizeCode]='M' OR [SizeCode]='S'))
GO
ALTER TABLE [dbo].[Table]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Table]  WITH CHECK ADD CHECK  (([Status]='unavailable' OR [Status]='available'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([Role]=(3) OR [Role]=(2) OR [Role]=(1)))
GO
/****** Object:  StoredProcedure [dbo].[ProcessDeletionQueue]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===========================
CREATE PROCEDURE [dbo].[ProcessDeletionQueue]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Safety check - only run on this database
    IF DB_NAME() != 'pizza_demo_DB_Merged'
    BEGIN
        PRINT 'This procedure is designed for pizza_demo_DB_Merged only. Current database: ' + DB_NAME();
        RETURN;
    END
    
    DECLARE @QueueID INT, @EntityType NVARCHAR(20), @EntityID INT;
    DECLARE @ProcessedCount INT = 0;
    
    WHILE (1 = 1)
    BEGIN
        -- Get the first item from queue
        SELECT TOP 1 @QueueID = QueueID, @EntityType = EntityType, @EntityID = EntityID
        FROM DeletionQueue
        WHERE ScheduledDeletion <= GETDATE()
        ORDER BY ScheduledDeletion;
        
        -- Break if no more items
        IF @QueueID IS NULL
            BREAK;
        
        BEGIN TRY
            BEGIN TRANSACTION;
            
            -- Process based on entity type
            IF @EntityType = 'Table'
            BEGIN
                UPDATE [Table] SET IsActive = 0 WHERE TableID = @EntityID;
            END
            ELSE IF @EntityType = 'Discount'
            BEGIN
                UPDATE Discount SET IsActive = 0 WHERE DiscountID = @EntityID;
            END
            -- Add more entity types here as needed
            
            -- Remove from queue after successful processing
            DELETE FROM DeletionQueue WHERE QueueID = @QueueID;
            
            SET @ProcessedCount = @ProcessedCount + 1;
            
            COMMIT TRANSACTION;
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION;
            -- Log error and continue with next item
            PRINT 'Error processing QueueID ' + CAST(@QueueID AS NVARCHAR) + ': ' + ERROR_MESSAGE();
            
            -- Break on error to avoid infinite loop
            BREAK;
        END CATCH
        
        -- Reset variables for next iteration
        SET @QueueID = NULL;
        SET @EntityType = NULL;
        SET @EntityID = NULL;
    END
    
    PRINT 'Processed ' + CAST(@ProcessedCount AS NVARCHAR) + ' items from deletion queue.';
END
GO
/****** Object:  StoredProcedure [dbo].[ProcessDiscountUpdateQueue]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===========================
CREATE PROCEDURE [dbo].[ProcessDiscountUpdateQueue]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Safety check - only run on this database
    IF DB_NAME() != 'pizza_demo_DB_Merged'
    BEGIN
        PRINT 'This procedure is designed for pizza_demo_DB_Merged only. Current database: ' + DB_NAME();
        RETURN;
    END
    
    DECLARE @QueueID INT, @DiscountID INT, @Description NVARCHAR(255), @DiscountType NVARCHAR(50);
    DECLARE @Value DECIMAL(10,2), @MaxDiscount DECIMAL(10,2), @MinOrderTotal DECIMAL(10,2);
    DECLARE @StartDate DATE, @EndDate DATE;
    DECLARE @ProcessedCount INT = 0;
    
    WHILE (1 = 1)
    BEGIN
        -- Get the first item from update queue
        SELECT TOP 1 
            @QueueID = QueueID,
            @DiscountID = DiscountID,
            @Description = Description,
            @DiscountType = DiscountType,
            @Value = Value,
            @MaxDiscount = MaxDiscount,
            @MinOrderTotal = MinOrderTotal,
            @StartDate = StartDate,
            @EndDate = EndDate
        FROM DiscountUpdateQueue
        WHERE ScheduledUpdate <= GETDATE()
        ORDER BY ScheduledUpdate;
        
        -- Break if no more items
        IF @QueueID IS NULL
            BREAK;
        
        BEGIN TRY
            BEGIN TRANSACTION;
            
            -- Update the discount directly
            UPDATE Discount 
            SET Description = @Description,
                DiscountType = @DiscountType,
                Value = @Value,
                MaxDiscount = @MaxDiscount,
                MinOrderTotal = @MinOrderTotal,
                StartDate = @StartDate,
                EndDate = @EndDate
            WHERE DiscountID = @DiscountID;
            
            -- Remove from queue after successful processing
            DELETE FROM DiscountUpdateQueue WHERE QueueID = @QueueID;
            
            SET @ProcessedCount = @ProcessedCount + 1;
            
            COMMIT TRANSACTION;
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION;
            -- Log error and continue with next item
            PRINT 'Error processing Update QueueID ' + CAST(@QueueID AS NVARCHAR) + ': ' + ERROR_MESSAGE();
            
            -- Break on error to avoid infinite loop
            BREAK;
        END CATCH
        
        -- Reset variables for next iteration
        SET @QueueID = NULL;
        SET @DiscountID = NULL;
    END
    
    PRINT 'Processed ' + CAST(@ProcessedCount AS NVARCHAR) + ' items from discount update queue.';
END
GO
/****** Object:  StoredProcedure [dbo].[ScheduleDeletion]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===========================
-- PROCEDURES
-- (Từ kịch bản của bạn bạn - Đã sửa tên DB thành 'pizza_demo_DB_Merged')
-- ===========================
CREATE PROCEDURE [dbo].[ScheduleDeletion]
    @EntityType NVARCHAR(20),
    @EntityID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ScheduledTime DATETIME = DATEADD(DAY, 1, CAST(GETDATE() AS DATE)); -- 00:00 tomorrow
    
    -- Check if entity already exists in queue
    IF NOT EXISTS (SELECT 1 FROM DeletionQueue WHERE EntityType = @EntityType AND EntityID = @EntityID)
    BEGIN
        INSERT INTO DeletionQueue (EntityType, EntityID, ScheduledDeletion)
        VALUES (@EntityType, @EntityID, @ScheduledTime);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ScheduleDiscountUpdate]    Script Date: 11/6/2025 5:39:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===========================
CREATE PROCEDURE [dbo].[ScheduleDiscountUpdate]
    @DiscountID INT,
    @Description NVARCHAR(255),
    @DiscountType NVARCHAR(50),
    @Value DECIMAL(10,2),
    @MaxDiscount DECIMAL(10,2),
    @MinOrderTotal DECIMAL(10,2),
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ScheduledTime DATETIME = DATEADD(DAY, 1, CAST(GETDATE() AS DATE)); -- 00:00 tomorrow
    
    -- Create DiscountUpdateQueue table if it doesn't exist
    IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'DiscountUpdateQueue')
    BEGIN
        CREATE TABLE DiscountUpdateQueue (
            QueueID INT IDENTITY(1,1) PRIMARY KEY,
            DiscountID INT NOT NULL,
            Description NVARCHAR(255),
            DiscountType NVARCHAR(50),
            Value DECIMAL(10,2),
            MaxDiscount DECIMAL(10,2),
            MinOrderTotal DECIMAL(10,2),
            StartDate DATE,
            EndDate DATE,
            ScheduledUpdate DATETIME NOT NULL DEFAULT DATEADD(DAY, 1, CAST(GETDATE() AS DATE)),
            CONSTRAINT UK_DiscountUpdateQueue UNIQUE (DiscountID)
        );
    END
    
    -- Insert or update the scheduled update
    IF EXISTS (SELECT 1 FROM DiscountUpdateQueue WHERE DiscountID = @DiscountID)
    BEGIN
        UPDATE DiscountUpdateQueue 
        SET Description = @Description,
            DiscountType = @DiscountType,
            Value = @Value,
            MaxDiscount = @MaxDiscount,
            MinOrderTotal = @MinOrderTotal,
            StartDate = @StartDate,
            EndDate = @EndDate,
            ScheduledUpdate = @ScheduledTime
        WHERE DiscountID = @DiscountID;
    END
    ELSE
    BEGIN
        INSERT INTO DiscountUpdateQueue (DiscountID, Description, DiscountType, Value, MaxDiscount, MinOrderTotal, StartDate, EndDate, ScheduledUpdate)
        VALUES (@DiscountID, @Description, @DiscountType, @Value, @MaxDiscount, @MinOrderTotal, @StartDate, @EndDate, @ScheduledTime);
    END
END
GO
USE [master]
GO
